<aside class='sidebar'>
    <ul>
        <li class="heading">Navigation</li>

        <li {% if active_page == 'account' %}class="active"{% endif %}">
            <a href="{{ relative_url('/account/overview') }}"><i class="fa fa-fw fa-cog"></i> Account</a>
        </li>
        <li {% if active_page == 'account' %}class="active"{% endif %}">
            <a href="{{ relative_url('/account/billing') }}"><i class="fa fa-fw fa-cog"></i> Billing</a>
        </li>
    </ul>
</aside>