<div class="panel panel-default">
    <div class="panel-heading">Management</div>
    <div class="list-group">
        <a href="{{ relative_url('/account/overview') }}" class="list-group-item">
            <i class="fa fa-fw fa-cog"></i> Devices
        </a>
        <a href="{{ relative_url('/account/billing') }}" class="list-group-item">
            <i class="fa fa-fw fa-cog"></i> Attachments
        </a>
    </div>
</div>