<aside class='sidebar'>
    <ul>
        <li class="heading">Navigation</li>

        <li {% if active_page == 'dashboard' %}class="active"{% endif %}">
            <a href="{{ relative_url('/') }}"><i class="fa fa-fw fa-bars"></i> Dashboard</a>
        </li>

        <li {% if active_page == 'beacons' %}class="active"{% endif %}">
            <a href="{{ relative_url('beacons') }}"><i class="fa fa-fw fa-bars"></i> Beacons</a>
        </li>
    </ul>
</aside>