@bg: #ecf0f5;

@topnav-bg: #605ca8;
@topnav-color: #ffffff;
@topnav-height: 100px;

@sidenav-width: 230px;
@sidenav-bg: #222d32;
@sidenav-heading-bg: #1a2226;
@sidenav-heading-color: #4b646f;
@sidenav-color: #b8c7ce;
@sidenav-highlight-color: #ffffff;
@sidenav-highlight-bg: #1e282c;
@sidenav-highlight-border: @topnav-bg;

@btn-primary-bg: @topnav-bg;